<section style="min-height: 1500px;">
    <div class="page-header">
        <h1>{{vm.account._id ? 'Edit Account' : 'New Account'}}</h1>
    </div>
    <div class="col-md-12">
        <form name="vm.form.accountForm" class="form-horizontal" ng-submit="vm.save(vm.form.accountForm.$valid)" novalidate>
            <fieldset>
                <!--<div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.account.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.accountForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Account name is required.</p>
          </div>
        </div>-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="control-label" for="months">Months</label>
                            <input name="month" type="text" ng-model="vm.account.month.name" id="month" class="form-control" placeholder="month">
                        </div>
                        <div class="col-xs-6">
                            <label class="control-label" for="months">Year</label>
                            <input name="year" type="text" ng-model="vm.account.year" id="year" class="form-control" placeholder="year">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lists">Lists Master</label>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-3">
                            <select class="form-control" ng-options="item as item.name for item in vm.masterlists | filter:{types:'Outcome'}" ng-model="vm.list" ng-change="selectList(vm.list)">
                      <option value="">Select List</option>
                    </select>
                        </div>
                        <div class="col-xs-3">
                            <input name="prices" type="number" ng-model="vm.prices" id="prices" class="form-control" placeholder="Prices">
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-block btn-default" ng-click="addList(vm.list)" ng-disabled="!vm.list">Add List</button>
                        </div>
                    </div>

                </div>
                <div class="form-group" ng-show="vm.account.lists.length > 0">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Lists</div>

                        <!-- Table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th class="text-center">List</th>
                                    <th class="text-center">Prices</th>
                                    <th class="text-center">Remove</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="item in vm.account.lists">
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td class="text-center">{{item.master.name}}</td>
                                    <td class="text-center">{{item.master.prices}}</td>
                                    <td class="text-center"><i class="fa fa-trash" aria-hidden="true" style="color: red" ng-click="removeList($index)"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="comment">Comment</label>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-3">
                            <input name="comment" type="text" ng-model="vm.commentOther" id="comment" class="form-control" placeholder="Comment">

                        </div>
                        <div class="col-xs-3">
                            <input name="price" type="number" ng-model="vm.commentPrice" id="price" class="form-control" placeholder="Price">

                        </div>
                        <div class="col-xs-3">
                            <select class="form-control" ng-model="vm.commentTypes">
                      <option value="">Select Type</option>
                      <option value="Outcome">Outcome</option>
                      <option value="Income">Income</option>
                    </select>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-block btn-default" ng-click="addComment()" ng-disabled="!vm.commentOther || !vm.commentPrice || !vm.commentTypes">Add Comment</button>
                        </div>
                    </div>

                </div>
                <div class="form-group" ng-show="vm.account.comment.length > 0">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Lists</div>

                        <!-- Table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th class="text-center">List</th>
                                    <th class="text-center">Prices</th>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Remove</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="comment in vm.account.comment">
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td class="text-center">{{comment.other}}</td>
                                    <td class="text-center">{{comment.price}}</td>
                                    <td class="text-center">{{comment.types}}</td>
                                    <td class="text-center"><i class="fa fa-trash" aria-hidden="true" style="color: red" ng-click="removeComment($index)"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label" for="total">Total</label>
                            <input name="total" type="number" ng-model="vm.account.total" id="total" class="form-control" placeholder="Total">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="amount">Amount</label>
                            <input name="amount" type="number" ng-model="vm.account.amount" id="amount" class="form-control" placeholder="Amount">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary" ng-disabled="vm.account.lists.length == 0 || !vm.account.month">{{vm.account._id ? 'Update' : 'Create'}}</button>
                        </div>
                        <div ng-show="vm.error" class="text-danger">
                            <strong ng-bind="vm.error"></strong>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</section>